* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

:root {
  --color-text-primary: #1f2936;
  --color-text-placeholder: #798eae;
  --color-bg-primary: #f9fafb;
  --color-bg-secondary: #ececfd;
  --color-bg-sidebar: #ffffff;
  --color-border-hr: #e2e8f0;
  --color-hover-primary: #a31313;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
}

body {
  min-height: 100vh;
  background: var(--color-bg-primary);
}

.container {
  display: flex;
}
.container .main-content {
  flex: 1;
  padding: 0;
  color: var(--color-text-primary);
}
.main-content .page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.main-content .card {
  border-radius: 8px;
  padding: 20px;
  background-color: var(--color-bg-sidebar);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.borderhead {
  display: flex;
  align-items: center;
  border-radius: 0;
  gap: 10px;
  padding: 0 30px;
  background-color: #a31313;
  color: #ffffff;
  height: 87px;
}

.borderhead i {
  font-size: 20px;
}

.information {
  display: grid;
}

.men {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.men button {
  border-radius: 5px;
  width: 25%;
  padding: 15px 32px;
  text-align: left;
  align-items: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.4s ease;
  }

  .container .main-content {
    padding: 30px 20px;
  }
}
