@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #a31313;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #820f0f;
}

.toast-enter {
    animation: slideInRight 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}